<div class="col-sm-8 menu-panel header"></div>
<div>
    <div class="col-sm-8 menu-panel">
        <div *ngIf=" userInfo && userInfo.id" class="container-fluid">
            <div class="box">
                <input type="text" class="form-control search-border" id="filterValue" [(ngModel)]="searchText"
                    placeholder="Search Here">
                <button id="search" (click)="searchDetails()"
                    class="btn btn-primary search-btn">Search</button>
                <button (click)="advancedSearch()"
                    class="btn search-advanced">Advanced Search</button>
            </div>
        </div>
    </div>
    <div class="col-sm-8 menu-panel border">
        <div class="container-fluid">
            <div class="row col-sm-12" *ngIf=" userInfo && userInfo.id" style="height: 390px; overflow-y: auto;">
                <div class="row col-sm-12" *ngIf=" books && books.length > 0">
                    <div class="col-sm-4 item-box" *ngFor="let book of books; let prodIndex = index;">
                        <span class="col-sm-4">
                            <div style="width: 150px;background-color: rgb(0, 83, 137);border-radius:5px 5px 0px 0px;">
                                <span
                                    style="width: 150px;font-size: 12px;color: ivory;padding-left: 20px;">{{book.title}}</span>
                            </div>
                            <div>
                                <img style="height: 225px; border-left: black 1px solid; border-right: black 1px solid;" src="/assets/img/{{book.image}}.JPG" width="150"
                                    (click)="onClick(book)">
                                <div style="width: 150px;background-color: rgb(238, 227, 227); border-left: black 1px solid; border-right: black 1px solid;">
                                    <span style="width: 150px;font-size: 12px;color: black;padding-left: 20px;"> Price :
                                        &#8377;{{book.price}}</span></div>
                            </div>
                            <div>
                                <span>
                                    <button style="border-left: black 1px solid; border-right: black 1px solid;" [ngClass]="{'green-color': book.available,'gray-color': !book.available}"
                                        type="button" class="button-style" (click)="barrowBook(book)"
                                        [disabled]="book.btnText==='Not Available'">{{book.btnText}}</button>
                                </span>
                            </div>
                        </span>
                    </div>
                </div>
                <div class="row" *ngIf="!books || books && books.length === 0">
                    <p class="welcome-message"> No Books to Display here, Please Refine Your Search Criteria </p>
                </div>
            </div>
        </div>
    </div>
</div>